.git
.github
.gitignore

node_modules
vendor

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/framework/testing/*

bootstrap/cache/*.php

.env
.env.*

docker-compose.override.yml

.DS_Store
Thumbs.db

.idea
.vscode