.top-nav {
    margin-left: 260px;
    position: relative;
    height: 80px;
    background: url('/public/images/top_head_image.webp');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 10% 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2.5rem;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
    transition: margin-left 0.3s ease;
    
}









.sidebar-submenu ul li.active a {
    color: #ffffff !important;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.1);
}


